<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DevExpress" value="https://nuget.devexpress.com/knLQh374IZqC3UyqWtfteYeseziPFJWrX1n7965835yZKDsCgR/api" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
